examples/sun-events-example-flows.json
[{"id":"32cb8da3.eeffc2","type":"tab","label":"Sun Events simple example","disabled":false,"info":""},{"id":"2d8758dc.922e08","type":"inject","z":"32cb8da3.eeffc2","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":110,"y":120,"wires":[["58c171f7.59b7a"]]},{"id":"f10b6e96.34bbf","type":"debug","z":"32cb8da3.eeffc2","name":"Your logic goes here","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":180,"wires":[]},{"id":"ae9be1e3.2e7ab","type":"sun events","z":"32cb8da3.eeffc2","testmode":true,"verbose":true,"topic":"","name":"","x":590,"y":180,"wires":[["f10b6e96.34bbf"]]},{"id":"58c171f7.59b7a","type":"change","z":"32cb8da3.eeffc2","name":"set GPS coordinates (change node) ","rules":[{"t":"set","p":"payload.latitude","pt":"msg","to":"51.501364","tot":"num"},{"t":"set","p":"payload.longitude","pt":"msg","to":"-0.1440787","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[["ae9be1e3.2e7ab"]]},{"id":"c0aa61b0.223ae","type":"inject","z":"32cb8da3.eeffc2","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":110,"y":240,"wires":[["58c171f7.59b7a"]]},{"id":"8a69281b.9d7da8","type":"comment","z":"32cb8da3.eeffc2","name":"Sun Events simple example","info":"# Inject node(s)\nThere are two inject nodes in this example, one to initialise sun-events on flow deployment and the other to refresh the Sun-events at a fixed time each day.\n\n# Change node\nYou could just set the latitude and longitude in the msg.payload in an inject node, but since we are using two inject nodes in this example, the change node is used to set the payload from both.\n\n# Sun Events node\nThe Sun-events node will output a series of Sun events msg at the appropriate time of day.\n\n# Debug node\nThe debug node is just here to output the contents of the payload in the debug window, you could obviously replace that with what ever logic you need for your use case. ","x":450,"y":100,"wires":[]}]
