examples/sun-events-gps-stream-example-flows.json
[{"id":"f10f1911.0d5928","type":"tab","label":"Sun Events GPS stream example ","disabled":false,"info":""},{"id":"7ed2700.7d9ad9","type":"inject","z":"f10f1911.0d5928","name":"Fake Victron GPS Input (Latitude)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1.501364","payloadType":"num","x":200,"y":100,"wires":[["a7098192.563ad"]]},{"id":"133e413c.d490af","type":"inject","z":"f10f1911.0d5928","name":"Fake Victron GPS Input (Longitude)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-0.1440787","payloadType":"num","x":210,"y":180,"wires":[["83eeb23b.83ec8"]]},{"id":"a7098192.563ad","type":"change","z":"f10f1911.0d5928","name":"","rules":[{"t":"set","p":"latitude","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":100,"wires":[["319cbcdb.fbfb14"]]},{"id":"83eeb23b.83ec8","type":"change","z":"f10f1911.0d5928","name":"","rules":[{"t":"set","p":"longitude","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":180,"wires":[["319cbcdb.fbfb14"]]},{"id":"bec53378.d5ba5","type":"inject","z":"f10f1911.0d5928","name":"Inject from Global","props":[{"p":"payload.latitude","v":"latitude","vt":"global"},{"p":"payload.longitude","v":"longitude","vt":"global"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":140,"y":300,"wires":[["9bb49816.5ff1d8"]]},{"id":"9bb49816.5ff1d8","type":"sun events","z":"f10f1911.0d5928","testmode":"N","verbose":"N","topic":"","name":"","x":440,"y":320,"wires":[["3f2e386d.e75748"]]},{"id":"3f2e386d.e75748","type":"debug","z":"f10f1911.0d5928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":320,"wires":[]},{"id":"319cbcdb.fbfb14","type":"function","z":"f10f1911.0d5928","name":"Current Lat & Long","func":"node.status([global.get('latitude'), global.get('longitude')].join(\", \"))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":140,"wires":[[]]},{"id":"77a56ab0.cab344","type":"comment","z":"f10f1911.0d5928","name":"Sun Events and GPS stream example","info":"If you have a stream of GPS coordinates comming into the flow (for example from a Victron Energet GX unit) it will be very inneficient to continually refresh Sunevents on every GPS update. One way to control the refresh is to store the lattest latitude and longitude into a global. You can then inject the contents of the global as and when required.","x":500,"y":60,"wires":[]}]
